<h3><i class="fas fa-book-reader"></i> StoryBooks - Mayanwolfe</h3>
<div class="section">
    <p class="lead">Create stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>